.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;  
}
.form-group {
    margin-bottom: 15px;
}


.form-group input[type="range"] {
    margin-top: 10px;
    width: 100%;
}
.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.btn-like,
.form-group button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    min-width: 150px;
    margin-top: 10px;
}

.btn-like input[type="file"] {
    display: none;
}

.btn-like:hover,
.form-group button:hover {
    background-color: #0056b3;
}