body{
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

h1,h2,h3{
    line-height: 1.2
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: white;
    }
    a:link {
        color: #1ba7a8;
    }
    a:visited {
        color: #175d78;
    }
}
