/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 90vw;
    margin: 0 auto;
    background-color: var(--form-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

#core {
    height: 50vh;
    resize: none;
    background-color: var(--bg-color);
    color: var(--text-color);
}

input[type="text"],
textarea {
    width: 100%;
    max-height: 35vh;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.button-container {
    display: flex;
    justify-content: space-between; /* Add space between the buttons */
}

button[type="submit"],
button[type="button"] { /* Style both buttons the same */
    width: 48%; /* Take up 48% of the available width */
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: 2px solid var(--button-border-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    border-radius: 15px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: var(--button-hover-bg-color);
}

