:root {
  --bg-color: #ffffff;
  --text-color: #343a40;
  --navbar-bg-color: #f8f9fa;
  --navbar-text-color: #343a40;
  --link-color: #007bff;
  --link-hover-bg-color: #e9ecef;
  --link-color: #000; 
  --link-hover-color: #000; 
  --button-bg-color: #fff;
  --button-text-color: #000;
  --button-border-color: #d7d7d7;
  --button-hover-bg-color: #d7d7d7;
  --form-bg-color: #fff;
  --input-border-color: #ccc;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Navbar styles */
nav {
  align-items: flex-start;
  background-color: var(--navbar-bg-color);
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--button-border-color);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  margin-bottom: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--navbar-text-color);
  text-decoration: none;
}

.menu-toggle {
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--navbar-text-color);
}

.navbar-links {
  align-items: flex-start;
  max-height: 0; /* Start with zero height */
  overflow: hidden; /* Hide the content while closed */
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: max-height 0.3s ease;
}

nav:hover .navbar-links {
  display: flex; /* Show when hovering over the navbar */
  max-height: 300px;
}

.navbar-links.show {
  display: flex;
}

.navbar-links li {
  margin: 0.5rem 0;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1rem;
  padding: 0.5rem;
  display: block;
}

.navbar-links li a:hover {
  background-color: var(--link-hover-bg-color);
  border-radius: 4px;
}

/* Content area */
.container {
  flex: 1;
  overflow-y: auto;
  padding: 0rem;
  background-color: var(--bg-color);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1e1e1e;
    --text-color: #e0e0e0;
    --navbar-bg-color: #212121;
    --navbar-text-color: #e0e0e0;
    --link-color: #007bff;
    --link-hover-bg-color: #333333;
    --link-color: #fff; 
    --link-hover-color: #fff;
    --button-bg-color: #212121;
    --button-text-color: #e0e0e0;
    --button-border-color: #2b2b2b;
    --button-hover-bg-color: #333;
    --form-bg-color: #212121;
    --input-border-color: #333;
  }
}
