/* static/css/account_page_style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2 {
    color: var(--text-color);
    margin: 20px;
}

.object-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.object-item {
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space items out, pushing the button to the right */
    align-items: center; /* Vertically center align items */
    background-color: var(--button-bg-color);
    margin: 10px 0;
    padding: 15px;
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    box-shadow: none
}

.object-item h3 {
    margin: 0; /* Remove default margin */
    flex: 1; /* Allow the title to take up available space */
}

.object-item p {
    color: var(--text-color);
}

.object-item a {
    color: var(--link-color);
    text-decoration: none;
}

.object-item a:hover {
    color: var(--link-hover-color);
}

.delete-button, .edit-button, .redirect-button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border: 2px solid var(--button-border-color);
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.delete-button:hover, .edit-button:hover, .redirect-button:hover {
    background-color: var(--button-hover-bg-color);
}

.bottom-center {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
    
}

.redirect-button {
    font-size: 15px; /* Adjust font size relative to viewport width */
    box-shadow: none; /* Remove shading */
    width: 10vw; /* Set button width as a percentage of the viewport width */
    max-width: 120px; /* Set a maximum width to prevent the button from becoming too large */
    min-width: 50px; /* Set a minimum width to prevent the button from becoming too small */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}
