{% load static %}
<head>
    <meta charset="utf-8" />
    <title>Martin THIRIET - Home Page</title>
    <meta name="author" content="Martin THIRIET"/>
    <meta name="description" content="Home Page of Martin THIRIET"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <a href="{% url 'home' %}">Home page</a>
  <h1 id="about-me">Musique mixes</h1>
  <ul>
          <h2 id="Jazz Battle 2024 (ENS Paris Saclay)"><a> Jazz Battle 2024</a> (ENS Paris Saclay)</h2>
          <ul>
                  <li><h3> Samba Tapas </h3>
                  <ul>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/samba_tapas/song_1.wav">Song 1</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/samba_tapas/song_2.wav">Song 2</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/samba_tapas/song_3.wav">Song 3</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/samba_tapas/song_4.wav">Song 4</a> </li>
                  </ul></li>
  
                  <li><h3> Cswing </h3>
                  <ul>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/cs_wing/song_1.wav">Song 1</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/cs_wing/song_2.wav">Song 2</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/cs_wing/song_3.wav">Song 3</a> </li>
                  </ul></li>
  
                  <li><h3> Funk'X </h3>
                  <ul>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/funk_X/song_1.wav">Song 1</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/funk_X/song_2.wav">Song 2</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/funk_X/song_3.wav">Song 3</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/funk_X/song_4.wav">Song 4</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/funk_X/song_5.wav">Song 5</a> </li>
                  </ul></li>
  
                  <li><h3> The Soup </h3>
                  <ul>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/the_soup/song_1.wav">Song 1</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/the_soup/song_2.wav">Song 2</a> </li>
                          <li> <a href="{{ MEDIA_URL }}musique/jazz_battle_2024/the_soup/song_3.wav">Song 3</a> </li>
                  </ul></li>
          </ul>
	

	<h2> Concert Ensemble Musical du Hurepoix (Limour) </h2>
        <ul>
                <li> <a href="{{ MEDIA_URL }}musique/emh_04_03_25.mp3">Concert complet</a> </li>
        </ul>

	<h2> Comedie musicale de l'ENPC 2025 </h2>
        <ul>
        	<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/allumer_le_feu.mp3">Allumer le feu</a> </li>
       		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/envole_moi.mp3">Envole moi</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/la_seine.mp3">La seine</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/antisocial.mp3">Antisocial</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/gardient_de_nuit.mp3 ">Gardient de nuit</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/les_demons_de_minuit.mp3">Les demons de minuits</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/banlieue_nord.mp3">Banlieue nord</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/j_ai_un_reve.mp3">J'ai un rêve</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/prince_ali.mp3">Prince ali</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/c_est_bientot_la_fin.mp3">C'est bientôt la fin</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/j_irai_ou_tu_iras.mp3">J'irai où tu iras</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/quand_je_vois_tes_yeux.mp3">Qaund je vois tes yeux</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/c_est_la_fete.mp3">C'est la fête</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/la_salsa_du_demon.mp3">La salsa du demon</a> </li>
		<li> <a href="{{ MEDIA_URL }}musique/comuz_2025/trublion.mp3">Trublion</a> </li>
	</ul>
  </ul>
  
